@model AnimalQuestionnaire

<h1>Edit animal questionnaire</h1>

<form class="row g-3" asp-action="Edit" method="post">
    <div class="col-md-6">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Enter animal name" />
        <span asp-validation-for="Name" class="small text-danger"></span>
    </div>

    <div class="col-md-2">
        <label asp-for="Age" class="form-label">Age</label>
        <input asp-for="Age" type="number" min="0" class="form-control" placeholder="Enter age" />
        <span asp-validation-for="Age" class="small text-danger"></span>
    </div>

    <div class="col-md-4">
        <label asp-for="AdmissionDate" class="form-label">Admission Date</label>
        <input asp-for="AdmissionDate" type="date" class="form-control" />
        <span asp-validation-for="AdmissionDate" class="small text-danger"></span>
    </div>

    <div class="col-md-4">
        <label asp-for="SpeciesId" class="form-label">Species</label>
        <select asp-for="SpeciesId" asp-items="ViewBag.SpeciesList" class="form-select">
            <option value="">-- Select species --</option>
        </select>
    </div>

    <div class="col-md-4">
        <label asp-for="BreedId" class="form-label">Breed</label>
        <select asp-for="BreedId" asp-items="ViewBag.BreedList" class="form-select">
            <option value="">-- Select breed --</option>
        </select>
    </div>

    <div class="col-md-4">
        <label asp-for="GenderId" class="form-label">Gender</label>
        <select asp-for="GenderId" asp-items="ViewBag.GenderList" class="form-select">
            <option value="">-- Select gender --</option>
        </select>
    </div>

    <div class="col-md-4 form-check">
        <input asp-for="IsVaccinated" class="form-check-input" type="checkbox" />
        <label asp-for="IsVaccinated" class="form-check-label"></label>

    </div>

    <div class="col-md-4 form-check">
        <input asp-for="IsSterilized" class="form-check-input" type="checkbox" />
        <label asp-for="IsSterilized" class="form-check-label"></label>
    </div>

    <div class="col-md-4 form-check">
        <input asp-for="HasMedicalIssues" class="form-check-input" type="checkbox" />
        <label asp-for="HasMedicalIssues" class="form-check-label"></label>
    </div>

    <div class="col-md-12">
        <label asp-for="ImageUrl" class="form-label">Image URL</label>
        <input asp-for="ImageUrl" type="url" class="form-control" placeholder="Enter image URL" />

    </div>

    <div class="col-md-12">
        <label asp-for="Description" class="form-label">Description</label>
        <textarea asp-for="Description" class="form-control" rows="3" placeholder="Enter description"></textarea>
        <span asp-validation-for="Description" class="small text-danger"></span>

    </div>

    <div class="col-6">
        <a asp-action="Index" class="btn btn-dark w-100">Back</a>
    </div>
    <div class="col-6">
        <button type="submit" class="btn btn-success w-100">Edit</button>
    </div>
</form>