@model List<AnimalQuestionnaire>

<div class="text-center">
    <h1 class="display-4">
        Welcome to Online Animal Shelter
    </h1>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4">
    @foreach (var i in Model)
    {
        <div class="col">
            <partial name="_AnimalQuestionnaireCardPartial" model="@i" />
        </div>
    }
</div>